node_modules/
dist/
build/
*.log
.DS_Store
coverage/

# Android
src/android/.gradle/
src/android/build/
*.iml
.idea/

# iOS
src/ios/build/
src/ios/Pods/
*.xcworkspace/xcuserdata/

# Example RN app
example/ios/Pods/
example/android/.gradle/
example/android/build/
example/ios/build/
